{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block main %}
    <div class="col-4 offset-4">
        <div class="container-fluid">
        <form method="post">
            {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class='form-control' %}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    {% for e in field.errors %}
                        <div class="invalid-feedback" style="display: block">
                            {{ e }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        {% csrf_token %}
        <input type="submit" class="btn btn-success" value="Sign Up"/>
        </form>
    </div>
    </div>
{% endblock %}