{% extends 'profile_page.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - {{ employer.company_name }}
{% endblock %}


{% block left-side %}
    <div class="profile-item text-center">
        <img src="{% static 'images/base_profile.png' %}" alt="Profile Photo"/>
    </div>
    <div class="profile-item text-center">
        {{ employer.full_name }}
    </div>
{% endblock %}


{% block right-side %}
    <div class="profile-item text-center">
        <h3 class="blog-header-logo">{{ employer.company_name }}</h3>
    </div>
    <div class="profile-item">
        {{ employer.company_description }}
    </div>

    {% if employer.site_link %}
        <div class="profile-item">
            Web-Site: <a href="{{ employer.site_link }}">{{ employer.site_link }}</a>
        </div>
    {% endif %}

    {% if employer.contact_email and employer.contact_phone %}
    <div class="profile-item">
        <span>Contacts:</span>
        <div class="row">
            <div class="col">
                {{ employer.contact_email }}
            </div>
            <div class="col">
                +{{ employer.contact_phone }}
            </div>
        </div>
    </div>
    {% endif %}

    {% if user.employer.id == employer.pk %}
    <div class="profile-item">
        <a href="{% url 'employer_edit_profile' employer.pk %}"
           class="btn btn-dark">
            Edit
        </a>
        <a href="{% url 'vacancy_create' employer.pk %}"
           class="btn btn-dark">
            New Vacancy
        </a>
    </div>
    {% endif %}
{% endblock %}


{% block second_level %}
    {% if employer.vacancies %}
        <h3>Vacancies:</h3>
        <ul class="list-group">
            {% for vacancy in employer.vacancies.all %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div class="card-title">
                            {{ vacancy.title }}
                        </div>
                        <div class="text-muted">
                            {{ vacancy.position }}
                        </div>
                    </div>
                    <p class="text text-justify">
                        {{ vacancy.description }}
                    </p>
                    <div class="justify-content-start">
                        {% if user.employer.id == employer.pk %}
                            <a href="{% url 'vacancy_edit' employer.pk  vacancy.pk %}"
                               class="btn btn-outline-secondary btn-sm">
                                Edit Vacancy
                            </a>
                            <a href="{% url 'vacancy_delete' employer.pk vacancy.pk %}"
                               class="btn btn-outline-secondary btn-sm">
                                Delete Vacancy
                            </a>
                        {% elif user.employee %}
                            {#                                {% url 'vacancy_subscribe' vacancy.pk %}#}
                            <a href="#"
                               class="btn btn-outline-secondary btn-sm">
                                Request for Vacancy
                            </a>
                        {% else %}
                            <a href="#"
                               class="btn btn-outline-secondary btn-sm">
                                Request for Vacancy
                            </a>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}