{% extends 'profile_page.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - {{ employer.company_name }}
{% endblock %}


{% block left-side %}
    <div class="profile-item text-center">
        <img src="{% static 'images/base_profile.png' %}" alt="Profile Photo"/>
    </div>
    <div class="profile-item text-center">
        {{ employer.full_name }}
    </div>
{% endblock %}


{% block right-side %}
    <div class="profile-item text-center">
        <h3 class="blog-header-logo">{{ employer.company_name }}</h3>
    </div>
    <div class="profile-item">
        {{ employer.company_description }}
    </div>
    <div class="profile-item">
        Web-Site: <a href="{{ employer.site_link }}">{{ employer.site_link }}</a>
    </div>
    <div class="profile-item">
        <span>Contacts:</span>
        <div class="row">
            <div class="col">
                {{ employer.contact_email }}
            </div>
            <div class="col">
                +{{ employer.contact_phone }}
            </div>
        </div>
    </div>
    {% if employer.vacancies %}
        {% for vacancy in employer.vacancies.all %}
            <div class="profile-item">
                {{ vacancy.title }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="profile-item">
        <a href="{% url 'employer_edit_profile' employer.pk %}"
           class="btn btn-dark">
            Edit
        </a>
        <a href="{% url 'vacancy_create' employer.pk %}"
           class="btn btn-dark">
            New Vacancy
        </a>
    </div>
{% endblock %}