{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        JOBFinder
    {% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/employer.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="{% url 'homepage' %}">JOBFinder</a>
            </div>
            {% if user.is_authenticated %}
                <div class="col-4 text-center">
                    <a class='btn btn-outline-danger' href="{% url 'logout' %}">Sign Out</a>
                </div>
            {% else %}
                <div class="col-4 d-flex justify-content-end">
                    <div class="text-center px-2">
                        <a class='btn btn-outline-dark' href="{% url 'login' %}">Sign In</a>
                    </div>
                    <div class="text-center px-2">
                        <a class='btn btn-outline-dark' href="{% url 'registration' %}">Sign Up</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </header>

    <div class="row py-3">
        {% block main %}
            Base Template
        {% endblock %}
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>
